:root{

--roxo-acai:#5B2A8C;
--roxo-profundo:#2D0B48;
--verde-energia:#D2D914;
--amarelo-tropical:#F2CB05;
--branco:#FDFBFE;

}

body{

margin:0;

font-family:Arial,sans-serif;

background:
linear-gradient(
180deg,
var(--roxo-profundo),
var(--roxo-acai)
);

min-height:100vh;

display:flex;
justify-content:center;
align-items:center;

color:white;

}

.container{

width:90%;
max-width:400px;

text-align:center;

}

.logo{

width:180px;

margin-bottom:20px;

}

.botao{

display:block;

padding:15px;

margin:12px 0;

background:white;

color:var(--roxo-profundo);

text-decoration:none;

border-radius:15px;

font-weight:bold;

transition:.3s;

}

.botao:hover{

transform:translateY(-3px);

}

.subtitulo{

margin-bottom:30px;

}